---
network:
  version: 2
  renderer: networkd
  ethernets:
    enp0s8:
      addresses:
      - {{ MASTER_IP }}/24
      gateway4: {{ GATEWAY }}
      nameservers:
          addresses: [{{ DNS_SERVER }}, 8.8.8.8]