Vagrant.configure("2") do |config|
  config.vm.box = "ubuntu/xenial64"
  config.vm.network "public_network", :bridge => '{{ NETWORK_INTERFACE }}', ip: "{{ MASTER_IP }}",
    use_dhcp_assigned_default_route: true
  config.vm.provision "file", source: "~/.ssh/{{ PUBLIC_KEY }}", destination: "~/.ssh/{{ PUBLIC_KEY }}"
  config.vm.provision "shell",
    inline: "apt-get update -y && apt-get install -y vim tree net-tools curl git && \
            sudo apt-get install -y apt-transport-https ca-certificates curl gnupg-agent software-properties-common && \
            cd /home/vagrant/.ssh && cat {{ PUBLIC_KEY }} >> authorized_keys && chmod 0400 {{ PUBLIC_KEY }}" 
  config.vm.provider "virtualbox" do |v|
    v.name = "k8s-master01"
    v.memory = 2048 
    v.cpus = 2
  end
  config.vm.define "k8s-master01" do |node|
    node.vm.provision "shell", inline: "swapoff -a"
  end
end
