Vagrant.configure("2") do |config|
  config.vm.provider "virtualbox" do |v|
    v.memory = 2048
    v.cpus = 2
  end
  config.vm.provision "shell", inline: "swapoff -a"
  config.vm.define "K8s-Node01", primary: true do |node01|
    node01.vm.hostname = "k8s-node01"
    node01.vm.box = "ubuntu/bionic64"
    node01.vm.network "public_network", :bridge => '{{ NETWORK_INTERFACE }}', ip: "{{ NODE01_IP }}", use_dhcp_assigned_default_route: true
    node01.vm.provision "file", source: "~/.ssh/{{ PUBLIC_KEY }}", destination: "~/.ssh/{{ PUBLIC_KEY }}"
    node01.vm.provision "shell",
    inline: "apt-get update -y && apt-get install -y vim tree net-tools curl git && \
            sudo apt-get install -y apt-transport-https ca-certificates curl gnupg-agent software-properties-common && \
            cd /home/vagrant/.ssh && cat {{ PUBLIC_KEY }} >> authorized_keys && chmod 0400 {{ PUBLIC_KEY }}" 
  end
  config.vm.provision "shell", inline: "swapoff -a"
  config.vm.define "K8s-Node02", primary: true do |node02|
    node02.vm.hostname = "k8s-node02"
    node02.vm.box = "ubuntu/bionic64"
    node02.vm.network "public_network", :bridge => '{{ NETWORK_INTERFACE }}', ip: "{{ NODE02_IP }}", use_dhcp_assigned_default_route: true
    node02.vm.provision "file", source: "~/.ssh/{{ PUBLIC_KEY }}", destination: "~/.ssh/{{ PUBLIC_KEY }}"
    node02.vm.provision "shell",
    inline: "apt-get update -y && apt-get install -y vim tree net-tools curl git && \
            sudo apt-get install -y apt-transport-https ca-certificates curl gnupg-agent software-properties-common && \
            cd /home/vagrant/.ssh && cat {{ PUBLIC_KEY }} >> authorized_keys && chmod 0400 {{ PUBLIC_KEY }}" 
  end
  config.vm.provision "shell", inline: "swapoff -a"
  config.vm.define "K8s-Master" do |master|
    master.vm.hostname = "k8s-master"
    master.vm.box = "ubuntu/bionic64"
    master.vm.network "public_network", :bridge => '{{ NETWORK_INTERFACE }}', ip: "{{ MASTER_IP }}", use_dhcp_assigned_default_route: true
    master.vm.provision "file", source: "~/.ssh/{{ PUBLIC_KEY }}", destination: "~/.ssh/{{ PUBLIC_KEY }}"
    master.vm.provision "shell",
      inline: "apt-get update -y && apt-get install -y vim tree net-tools curl git && \
            sudo apt-get install -y apt-transport-https ca-certificates curl gnupg-agent software-properties-common && \
            cd /home/vagrant/.ssh && cat {{ PUBLIC_KEY }} >> authorized_keys && chmod 0400 {{ PUBLIC_KEY }}" 
  end
end
